body {
  margin: 0;
  padding: 0;
  width: 100vw;
  display: flex;
  justify-content: center;
}

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* Global CSS Variables: https://www.w3schools.com/css/css3_variables.asp */
/* Reference these in your CSS to get the same color as the mockups */
:root {
  --actionBackgroundColor: #f76b8a;
  --actionTextColor: white;
  --activeColor: #66bfbf;
  --standardBackgroundColor: #fcfefe;
  --alternativeBackgroundColor: #eaf6f6;
  --standardTextColor: black;
  --lightColor: lightgray;
  --moderateColor: darkgray;
}

body {
  background-color: var(--alternativeBackgroundColor);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
  outline-color: var(--activeColor);
}

select {
  border-color: var(--moderateColor);
}

input[type="text"] {
  border-color: var(--lightColor);
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover {
  transform: scale(1.1);
}

/* Navigation bar */
#navWrapper {
  width: 100vw;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

#navWrapper #navTitle {
  font-size: 30px;
  font-weight: bold;
  margin: 0;
  margin-left: 20px;
}

#navWrapper #navTitle:hover {
  color: #f76b8a;
  transition: 3s;
}
#navWrapper > #linksWrapper {
  min-width: 300px;
}

#navWrapper > div > a {
  color: #000;
  margin-right: 20px;
  text-decoration: none;
  font-weight: 500;
}

#navWrapper > div > a#selected {
  color: rgb(113, 193, 189);
  text-decoration: underline;
}

#navProfile {
  width: 60px;
  height: 60px;
  margin-right: 20px;
  color: black;
}

#navProfile > img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

/* General */

#submit {
  transition: all 0.2s ease 0s;
  margin-left: 10px;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(230, 81, 119);
  border: none;
  color: #fff;
  cursor: pointer;
}

/* Log Data Page */
#pageWrapper {
  width: 100vw;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#logWrapper {
  width: 100%;
  max-width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
}

#list {
  width: 100%;
  max-width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: space-between;
}

#logWrapper > ul {
  width: 100%;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
}

#logWrapper > ul > li > div > nav > ul {
  padding: 0;
}

#logWrapper > ul > li > div > nav > ul > li {
  display: flex;
  justify-content: space-between;
  height: 100%;
}

#logWrapper > button {
  transition: all 0.2s ease 0s;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  cursor: pointer;
}

#logWrapper > button:nth-child(3) {
  text-align: right;
}

#logWrapper > p {
  font-size: 20px;
  font-weight: bold;
}

#list > div {
  margin-bottom: 10px;
  list-style: none;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
}

#list > div > p {
  width: 100vw;
  max-width: 600px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin: 0;
  margin-bottom: 10px;

  font-size: 20px;
  font-weight: bold;
}

#list > div > input {
  border-radius: 3px;
}

#list > div:nth-child(8) > input[type="text"] {
  width: 100%;
}

/* log data page submit button */
#pageWrapper > #submit {
  margin-bottom: 20px;
}

/* Edit Page */
#editWrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

#editSubTitle {
  width: 100vw;
  max-width: 600px;
  height: 80px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

#editSubTitle > p {
  font-size: 24px;
  font-weight: bold;
}

#editSubTitle > button {
  transition: all 0.2s ease 0s;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
}

#editInner > #list {
  margin-top: 0px;
  padding: 0;
}

#editInner > #list > li {
  list-style: none;
  width: 100%;
  margin: 10px;
  margin-top: 0px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
}

#list > li > div {
  display: flex;
  flex-direction: column;
}

#list > li > div > input[type="text"]:nth-child(1) {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
  padding: 5px;
  padding-top: 3px;
  padding-bottom: 3px;
}

#list > li > div > select {
  display: inline;
  width: 120px;
  border-radius: 5px;
  margin-bottom: 10px;
}

#editSubmit {
  transition: all 0.2s ease 0s;
  margin-left: 10px;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(230, 81, 119);
  border: none;
  color: #fff;
  cursor: pointer;
  margin-bottom: 20px;
}

#actionHandler {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#deleteButton {
  transition: all 0.2s ease 0s;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  cursor: pointer;
  margin-left: 100%;
  transform: translateX(-30px);
  padding: 0px;
}

#deleteButton > span:hover {
  transform: scale(1.2);
  color: #f76b8a;
  transition: all 0.2s ease 0s;
}

#list > li > div > input[type="radio"] {
  display: inline;
  width: 15px;
  height: 15px;
  margin: 10px;
  margin-left: 0px;
}

#list > li > div > input[type="text"]:nth-child(4) {
  display: inline;
  margin-top: -30px;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 200px;
  height: 20px;
  background-color: #fff;
  border: 0px;
  border-bottom: 1.5px #aaa solid;
  padding-left: 5px;
}

#list > li > div > input[type="text"]:nth-child(6) {
  display: inline;
  margin-top: -30px;
  margin-left: 20px;
  margin-bottom: 10px;
  width: 200px;
  height: 20px;
  background-color: #fff;
  border: 0px;
  border-bottom: 1.5px #aaa solid;
  padding-left: 5px;
}

#list > li > div > input[type="text"]:nth-child(8) {
  display: inline;
  margin-top: -30px;
  margin-left: 20px;
  margin-bottom: 15px;
  width: 200px;
  height: 20px;
  background-color: #fff;
  border: 0px;
  border-bottom: 1.5px #aaa solid;
  padding-left: 5px;
}

/* Profile Page */
#profileWrapper {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#profileWrapper > #profileFormWrapper {
  width: 100vw;
  max-width: 600px;
  padding-left: 10px;
  padding-right: 10px;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
}

#profileWrapper > #profileFormWrapper > p {
  font-size: 24px;
  font-weight: bold;
  margin: 10px 5px 10px 15px;
}

#profileFormWrapper > #profileContent {
  list-style: none;
  width: 100%;
  margin-bottom: 10px;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
}

#profileFormWrapper > #profileContent > #profileUserInfo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

#profileFormWrapper > #profileContent > input {
  display: block;
  width: 100%;
  height: 30px;
  border-radius: 5px;
  border: 1px grey solid;
  margin-bottom: 15px;
}

#profileFormWrapper > #profileContent > #profileContentTitle {
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 0px;
  margin-bottom: 10px;
}

#profileFormWrapper > #profileContent > #profileUserInfo > img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

#profileFormWrapper
  > #profileContent
  > #profileUserInfo
  > #profileImageSelector {
  margin-right: 20px;
  width: 170px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(87, 178, 178);
  border: none;
  font-size: 14px;
  transition: all 0.2s ease 0s;
  cursor: pointer;
}

#profileFormWrapper
  > #profileContent
  > #profileUserInfo
  > #profileImageRemover {
  transition: all 0.2s ease 0s;
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  cursor: pointer;
}

#profileFormWrapper > #profileButtonWrapper {
  display: flex;
  justify-content: space-between;
  margin: 10px;
}

#profileFormWrapper > #profileButtonWrapper > #profileSubmit {
  margin-left: 10px;
  width: 80px;
  height: 40px;
  border-radius: 10px;
  background-color: rgb(230, 81, 119);
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease 0s;
}

#profileFormWrapper > #profileButtonWrapper > #profileLogout {
  text-decoration: underline;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  transition: all 0.2s ease 0s;
}

/* LoginPage */
#loginWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  background-image: url("../public/bround.png");
  background-size: cover;
  background-repeat: no-repeat;
}

#loginWrapper > inner {
  width: 400px;
  height: 250px;
  padding: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: rgba(0, 0, 0, 0.7);
  opacity: 0.7;
  border-radius: 10px;
}

#loginWrapper > inner > div > nav > div {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#loginWrapper > inner > div > nav > div > button {
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  border: 1px rgb(255, 255, 255) solid;
  color: green;
  margin-top: 5px;
  margin-left: 10px;
  display: flex;
  align-items: center;
}

#loginWrapper > inner > p {
  color: #fff;
  font-size: 32px;
  font-weight: bold;
  margin: 0px;
  padding: 0px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: -50px;
}

#loginWrapper > inner > div > nav {
  height: 100%;
  display: flex;
  flex-direction: column;
}

#loginWrapper > inner > div > nav > ul {
  width: 100%;
  height: 33px;
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#loginWrapper > inner > div > nav > ul > li {
  height: 100%;
}

#loginWrapper > inner > div > nav > ul > li > div {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}

#loginWrapper > inner > div > nav > ul > li > div > input {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  border: 0.5px grey solid;
  padding-left: 10px;
}

#loginWrapper > inner > div > nav > ul > li > div > input#inputId {
  width: 100%;
  height: 33px;
  background: transparent;
  border: 0px;
  border-bottom: 1px #fff solid;
  color: #fff;
}

#loginWrapper > inner > div > nav > ul > li > div > input#inputId::placeholder {
  color: #fff;
}

#loginWrapper > inner > div > nav > ul > li > div > input#inputPw {
  width: 100%;
  height: 33px;
  background: transparent;
  border: 0px;
  border-bottom: 1px #fff solid;
  color: #fff;
}

#loginWrapper > inner > div > nav > ul > li > div > input#inputPw::placeholder {
  color: #fff;
}

#loginWrapper > inner > div > nav > div:nth-child(1) {
  width: 80%;
}

#loginWrapper > inner > div > nav > div:nth-child(2) {
  width: 20%;
  height: 100%;
  justify-content: space-around;
}

#loginWrapper > inner > div > nav > div:nth-child(2) > button {
  transition: all 0.2s ease 0s;
  width: 100%;
  height: 100%;

  border-radius: 0px 10px 10px 0px;
  border: 0.5px grey solid;
  background-color: #fff;

  padding: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loginWrapper > inner > div > nav {
  height: 66px;
  display: flex;
}

#loginWrapper > inner > div > a {
  display: block;
  width: 100%;
  margin-top: 10px;
  text-align: center;
  transition: all 0.2s ease 0s;
}

#registerButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#registerButton {
  transition: all 0.2s ease 0s;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  text-decoration: underline;
  color: #9b9b9b;
  font-weight: bold;
  font-size: 12px;
}

/* register page */
#registerWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-image: url("../public/diary_background.avif");
  background-size: cover; */
}

#registerWrapper > inner {
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  padding: 10px;
  opacity: 0.7;
}

#registerWrapper > inner > p {
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  margin-bottom: 15px;
  color: #fff;
}

#registerWrapper > inner > div > nav > ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
}

#registerWrapper > inner > div > nav > ul > li {
  margin-bottom: 10px;
}

#registerWrapper > inner > div > nav > ul > li > div {
  display: flex;
  width: 100%;
  height: 30px;
  align-items: center;
  position: relative;
}

#registerWrapper > inner > div > nav > ul > li > div > p {
  color: #fff;
  text-align: right;
  width: 175px;
  margin: 0px;
  margin-right: 10px;
}

#registerWrapper > inner > div > nav > ul > li > div > input {
  border: 0.5px grey solid;
  border-radius: 5px;
  height: 20px;
  width: 200px;
}

#registerWrapper > inner > div > nav > ul > li > div > label {
  position: absolute;
  top: 50%;
  left: 190px;
  transform: translateY(-50%);
  pointer-events: none;
  font-size: 7.5px;
}

#registerWrapper > inner > div > nav > ul > li > div > input[type="file"] {
  background-color: #aaa;
}

#registerWrapper
  > inner
  > div
  > nav
  > ul
  > li:nth-child(6)
  > div
  > input[type="file"] {
  font-size: 12px;
  height: 24px;
}

#registerAddress > div > div > input {
  border: 0.5px grey solid;
  border-radius: 5px;
  height: 20px;
  width: 95%;
  margin-bottom: 10px;
}

#registerButtonWrapper {
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

#registerButtonWrapper > button {
  margin: 10px;
  width: 100px;
  height: 35px;
  font-size: 15px;
  border-radius: 10px;
  background-color: rgb(230, 81, 119);
  border: none;
  color: #fff;
  cursor: pointer;
  transition: all 0.2s ease 0s;
  text-decoration: none;
  margin-left: auto;
  margin-right: auto;
}

/* View Data page */
#viewWrapper {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* download */
#viewWrapper > button:nth-child(2) {
  background-color: #f76b8a;
  border: 0px;
  color: #fff;
  border-radius: 3px;
  display: inline;
  width: 90px;
  position: absolute;
  top: 100px;
  right: 10px;
}

/* toggle */
#viewWrapper > button:nth-child(3) {
  background-color: #f76b8a;
  border: 0px;
  color: #fff;
  border-radius: 3px;
  display: inline;
  width: 70px;
  position: absolute;
  top: 100px;
  right: 110px;
}

#chart {
  width: 100%;
  max-width: 600px;
}

#chart > canvas {
  margin-bottom: 10px;
  list-style: none;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
}

#chart > canvas:nth-child(1) {
  margin-top: 20px;
}

#table {
  width: 100% !important;
  max-width: 600px;
}

#table > div {
  display: flex;
  justify-content: space-between;
}

#table > div > button {
  transition: all 0.2s ease 0s;
  text-decoration: none;
  background-color: rgba(0, 0, 0, 0);
  border: 0px;
  cursor: pointer;
}

#textWrapper {
  margin-bottom: 10px;
  list-style: none;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 5px;
  background-color: #fff;
}

#textTitle {
  font-size: 24px;
  font-weight: bold;
}

/* Responsibility */
@media (max-width: 980px) {
  #chart {
    margin-top: 30px;
  }

  #viewWrapper > button:nth-child(2) {
    left: 50%;
    top: 90px;
    transform: translateX(-120px);
  }
  #viewWrapper > button:nth-child(3) {
    left: 50%;
    top: 90px;
    transform: translateX(30px);
  }
}

@media (max-width: 600px) {
  #navWrapper #navTitle {
    display: none;
  }

  #navWrapper > div {
    margin-left: 20px;
  }
}

/* login and register page */
#loginWrapper,
#registerWrapper {
  background-image: url("../public/bround.png");
  background-size: cover;
}
